/*(c) Luke Raus 2015*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-image: url("/qualoscopy/assets/grey.png");
  padding-top: 50px;
  padding-bottom: 20px;
}
