.button-list {
  overflow: auto;
  height: 175px;
}
.radio label {
  text-align: left;
  font-size: large;
}

.form-control {
  font-size: large;
}

select option {
  font-size: large;
}

.my-table {
  margin-top: 10px;
}

.my-table table {
  margin-bottom: 0px;
  font-size: small;
}
